body{
    height: 3000px;
}

.socials{
    margin:10px;
}
.brand-logo{
    width:300px;
    height:300px;
    object-fit: cover;
    display: block;
}


.button{
    border-radius: 5px;
    width:300px;
    background: #3E3D3D;
    padding:25px;
    margin-right: 5px;
    font-size: large;
    border: none;
    color: aliceblue;
    transition: ease-in 0.15s;
}

.button:hover{
    background-color: #1b1b1b;
}

.button:active{
    opacity: 0.5;
}
