@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}




.topnav {
  position: absolute;
  width: 1035.3px;
  height: 97.72px;
  left: 181px;
  top: 98px;

  background: #251D1D;
}
  
  /* Style the links inside the navigation bar */

    
  .topnav a, .fixed-footer a {
    color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    font-style: normal;
  }
   

  

  #contact{
    position: absolute;
    left: 145px;
    top: 33px;
  }


  #product{
    position:absolute;
    left: 451.86px;
    top: 33px;
  }

  

  #about{
    position: absolute;
    left: 768.8px;
    top: 33px;
  }

  

  .topnav a:hover {
    background-color: #ddd;
    color: black
    
  }

  .fixed-footer {
    bottom: 0;
    width: 100%;
    height: 159px;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
  }

  #address{
    position:absolute;
    left: 326px;
    top:27px;
  }

  #address-content{
    position: absolute;
    width: 202px;
    height: 44px;
    left: 326px;
    top: 76px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
 
  #phone{
    position:absolute;
    top:27px;
    left:629px;
  }

  #phone-content{
    position: absolute;
    left: 629px;
    top: 76px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
  }

  #email{
    position:absolute;
    top:27px;
    left: 859px;
  }

  #email-content{
    position:absolute;
    top: 76px;
    left: 860px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
 

  /* This is for testing...*/

  * {
    box-sizing: border-box
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }
  .mySlides {
    display: none
  }
  .slide-img {
    width: 1037.24px;
    height: 415.12px;
    object-fit: fill;
    position:absolute;
    top:0px;
  }
  .slideshow-container {
    position: absolute;
    width: 1035.3px;
    height: 414.12px;
    top: 195px;
    left:181px;
    opacity: 0.75;
    border-radius: 7px;
    margin: auto;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 109.335px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    left: 900.22px;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    position: absolute;
    left:85.08px;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
 
  /* The dots/bullets/indicators */
  .dot {
    position: absolute;
    top: 565.34px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding-left: 5;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }